
<div  class="jui-tab-content page-business" >
    <ul class="mui-table-view " style="margin-top: 20px; ">
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/bind" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-zhbd "></div>
                户号绑定
            </a>
        </li>
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/water" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-sfcx "></div>
                水费查询
            </a>
            <!--<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6530bacfede0545a&redirect_uri=http%3a%2f%2fweixin2.test.dlmeasure.com%2fstatic%2fduliang%2fweixin%2fapps%2fsxzlszh%2f%23business%2fwater&response_type=code&scope=snsapi_userinfo&state=pay#wechat_redirect" class="mui-navigate-right ">-->
                <!--<div class="mui-pull-left jui-icons jui-icons-sfcx "></div>-->
                <!--水费查询test-->
            <!--</a>-->
        </li>
    </ul>
    <ul class="mui-table-view " style="margin-top: 25px; ">
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/handle" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-ywbl "></div>
                业务办理
            </a>
        </li>
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/query" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-ywcx "></div>
                业务查询
            </a>
        </li>
    </ul>
    <ul class="mui-table-view " style="margin-top: 25px; ">
        <li class="mui-table-view-cell nav-bar ">
            <a href="#business/interact" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-zxhd "></div>
                在线互动
            </a>
        </li>
        <li class="mui-table-view-cell nav-bar ">
            <a href="#dot" class="mui-navigate-right ">
                <div class="mui-pull-left jui-icons jui-icons-yywd "></div>
                营业网点
            </a>
        </li>
    </ul>
</div>


<c-nav target="{{currentView}}"></c-nav>