<div class="apps">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">子系统移动APP</h1>
    </header>
    <div class="mui-content">
        <ul class="mui-table-view mui-grid-view mui-grid-9">
            <li v-on:tap="launchApp('taobao')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-taobao"></span>
                <div class="mui-media-body">淘宝</div></a></li>
            <li v-on:tap="launchApp('weibo')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-weibo"></span>
                <div class="mui-media-body">微博</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-sbgl"></span>
                <div class="mui-media-body">设备管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-gcgl"></span>
                <div class="mui-media-body">工程管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-cwgl"></span>
                <div class="mui-media-body">财务管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-wzgl"></span>
                <div class="mui-media-body">物资管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-bgoa"></span>
                <div class="mui-media-body">办公OA</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-dagl"></span>
                <div class="mui-media-body">档案管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-szgl"></span>
                <div class="mui-media-body">水质管理</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-gsgis"></span>
                <div class="mui-media-body">供水GIS</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-psgis"></span>
                <div class="mui-media-body">排水GIS</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                <span class="mui-icon cui-icon-kfgl"></span>
                <div class="mui-media-body">客服管理</div></a></li>
        </ul>
    </div>
</div>